.map-view {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 7em;

    margin: 0;

    background-color: lightgreen;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: lightblue;
}